@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:host {
    font-family: 'Lobster', cursive;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

.content {
    display: flex;

    flex-direction: column;
    align-items: center;
  }
  .Routertext{
    color: rgb(8, 8, 138);
    font-size: 18px;

  }
  .content__text{
    font-size: 25px;
    margin: 30px;
  }
  .content__header{
    font-size: 35px;
   
  }
  .content__text--berder{
    border-radius: 20px;
    border: 1px solid rgb(173, 107, 107);
    background-color:  rgb(198, 141, 141) ;
    margin: 30px;
  }