<div class="content">
  <div>
    <h1 class="text">Add new to do: </h1>
    <div>
      <p *ngIf="nameAdded.touched && nameAdded.invalid && inputData.submitted" class="formText"> Name should be at least
        5 symbols long and npt longer then 20 symbols</p>
      <p *ngIf="!typeAdded.touched && inputData.submitted" class="formText"> Please choose type</p>
      <form 
      #inputData="ngForm" 
      (ngSubmit)="addNewItem(inputData.form.value); inputData.reset()"
     
      >
        <!-- <label for="id"></label>
        <input required #idAdded="ngModel" type="number" name="id" class="form-control inputForm__id" placeholder="id" ngModel> -->
        <label for="name"></label>
        <input #nameAdded="ngModel" required minlength="5" maxlength="20" type="text" name="name"
          class="form-control inputForm__name" placeholder="to do..." ngModel>
        <label for="name"></label>
        <select #typeAdded="ngModel" required class="form-control inputForm__type" name="type" ngModel>
          <option value="home">home</option>
          <option value="shop">shop</option>
          <option value="work">work</option>
        </select>
        <button 
        [disabled]="!inputData.form.valid"

        class="form_button" type="submit"
       
        > Add </button>
      </form>
    </div>
  </div>

  <h1>My To do list</h1>
  <div *ngFor="let item of list$ | async" class="oneItem">
    <p class="oneItem__text2">{{item.type}} </p>
    <span class="oneItem__text2">{{item.name}}</span>
    <span class="oneItem__text">
      <button 
      
      class="oneItem__delete" (click)="deleteOneItem(item.id)"
     
      >x</button>
    </span>
  </div>
</div>

<router-outlet></router-outlet>