@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:host {
  font-family: 'Lobster', cursive;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  color: rgb(42, 37, 37);
}

p {
  margin: 0;
  color: rgb(42, 37, 37);
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.oneItem{
  display: grid;
  grid-template-columns: repeat(3, 250px);
  border: 2px solid rgb(169, 130, 130);;
  background-color: rgb(169, 130, 130);;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
}
.oneItem__text{
  font-size: 30px;
  display:flex;
  justify-content: flex-end;

  
}
.oneItem__text2{
  font-size: 30px;
  display:flex;
  justify-content: flex-start;
  margin-left: 30px;
  
}
.oneItem__delete{
  border-radius: 20%;
  border: 2px solid bisque;
  background-color: bisque;
  font-size: 30px;
  margin:15px;
  font-family: 'Lobster', cursive;
}
.text{
  color: darkblue;
 }
 .inputForm__name{
     min-width: 30vw;
     margin-right: 20px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid darkblue;
    font-size: 20px;
    font-family: 'Lobster', cursive;
 }
 .inputForm__id{
  min-width: 10vw;
  margin-right: 20px;
 height: 50px;
 border-radius: 10px;
 border: 2px solid darkblue;
 font-size: 20px;
 font-family: 'Lobster', cursive;
}
 .inputForm__type{
     height: 55px;
     width: 100px;
     border-radius: 10px;
     border: 2px solid darkblue;
     font-size: 20px;
     padding: 10px;
     font-family: 'Lobster', cursive;
 }
 .form_button{
    border: none;
    background-color: rgb(225, 111, 111);
    height: 55px;
    margin-left: 30px;
    border-radius: 10px;
    width: 80px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
 }
 .form_button:hover{
 opacity: 0.9;
 }
 .formText{
     color: red;
 }